@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(../fonts/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #c5ebd6;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1em;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5em;
    padding: 10px 20px;
    line-height: 1.5em;
}

strong {
    color: #1e6e42;
}

a {
    text-decoration: none;
    color: #1e6e42;
    font-weight: bold;
}

a:hover {
    color: #348f5d;
    transition: all 0.3s ease-in-out;
}

ul {
    padding: 0px 40px;
}

header{
    background-image: linear-gradient(to top,#154C2E,#3CDA83);
    height: 250px;
    color: white;
}

header > h1{
    text-align: center;
    padding-top: 50px;
    font: 3em 'Bebas Neue', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.31);
}

header > p{
    text-align: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.452);
    color: #cacaca;
}

nav {
    background-color: #154C2E;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 3px 10px;
}

nav > a:hover {
    background-color:#348f5d;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

main {
    margin: 0px auto 20px;
    width: 75%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.24);
}

main > section > article > h1 {
    font: normal 2em 'idroid', sans-serif;
    color: #154C2E;
    padding: 20px;
    margin: 0px;
}

main > section > article > h2 {
    font: normal 1.5em 'idroid', sans-serif;
    color: #154C2E;
    background-image: linear-gradient(to right,#30e08048, white 75%);
    padding: 0px 20px;
    margin: 10px 20px;
}

main > section > article > div#video {
    background-color: #1A5C38;
    padding: 10px;
}

main > section > article > aside {
    background-color: #b3ebcb;
    margin : 20px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

main > section > article > aside> h3 {
    color: white;
    padding: 15px;
    background-color: #348f5d;
    border-radius: 10px 10px 0px 0px;
}


footer {
    background-color: #1A5C38;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

footer> p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}